@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-thumb {
    background: #1f2833;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(66, 66, 66);
}  
a{
    color: inherit;
}
a:hover{
    color: black;
    text-decoration: none;
}
.nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 4;
    transition: all 0.5s ease-in-out;
}
.nav .logo{    
    margin-left: 3vw;
    background-image: url(../images/navlogdark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 55px; 
    width: 250px;
    transition: all 0.5s ease-in-out;
}
.nav.active .logo{    
    background-image: url(../images/navlogdark.png);
}
.nav.active{
    height: 70px;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 5px 8px rgba(77, 77, 77, 0.3);
}
.navitems{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    font-weight: 600;
}
.navitems a{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav.active .navitems a{
    color: black;
}
.navitems a:hover{
    color: black;
}
.navitems a.act{
    color: #44d6cc;
}
.nav.active .navitems a.act{
    color: #001c68;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%!important;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: #44d6cc;
    transition: 0.5s ease-in-out;
    color: white!important;
}
.button:hover{
    background-color: #00a39b;
}

.navitems a .line{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.navitems a .line .section1{
    width: 50%;
}
.navitems a .line .section2{
    width: 50%;
}
.navitems a .line .section1 .line1{
    background-color: black;
    height: 2px;
    width: 0%;
    transition: 0.5s ease-in-out;
}
.navitems a .line .section2 .line2{
    background-color: black;
    height: 2px;
    width: 0%;
    transition: 0.5s ease-in-out;
}
.nav.active .navitems a .line .section1 .line1{
    background-color: black;
}
.nav.active .navitems a .line .section2 .line2{
    background-color: black;
}
.navitems a.act .line .section1 .line1,
.navitems a.act .line .section2 .line2{
    width: 100%;
    background-color: rgb(0, 165, 165);
}
.navitems a:hover .line .section1 .line1,
.navitems a:hover .line .section2 .line2{
    width: 100%;
}
.nav.active .navitems a.act .line .section1 .line1,
.nav.active .navitems a.act .line .section2 .line2{
    width: 100%;
    background-color: #001c68;
}
.menu-btn{
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
    width: 50px;
    height: 60px;
    cursor: pointer;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
.menu-btn_burger {
    width: 30px;
    height: 4px;
    background: rgb(0, 7, 66);
    border-radius: 5px;
    transition: all .5 ease-in-out;
    cursor: pointer;
}
.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: rgb(0, 7, 66);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.nav.active .menu-btn_burger,
.nav.active .menu-btn_burger::before,
.nav.active .menu-btn_burger::after{
    background: rgb(0, 7, 66);
}


.menu-btn_burger::before {
    transform: translateY(-10px);
}
.menu-btn_burger::after {
    transform: translateY(10px);
}
.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

.backdrop{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 60, 129, 0.3);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.75s ease-in-out;
}
.backdrop.back{
    opacity: 1;
    z-index: 4;
}
.sidebar{
    position: fixed;    
    width: 440px;
    opacity: 0;
    height: 100%;
    background-color: rgba(0, 60, 129, 0.8);
    z-index: 5;
    color: white;
    left: -460px;
    transition: 0.75s ease-in-out;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sidebar.slide{
    left: 0;
    opacity: 1;
}
.sidebar .list{
    display: flex;
    flex-direction: column;
}
.sidebar .list .listele{
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 2px solid white;
    margin-left: 8px;
    text-align: center;
}
.sidebar .list a.listele{
    width: 100%;
    height: 100%;
    color: white;
}
.sidebar .list a.listele:hover{
    color: white;
}
.sidebar .list .listele:last-child{
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
}
.sidebar .list .listele:last-child .button_cont{
    padding: 12px 25px;
    width: fit-content;
    background-color: rgb(0, 165, 165);
    border-radius: 50px;
}
.gototop a{
    position: fixed;
    bottom: 20px;
    right: 3vw;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    background-color: rgb(0, 175, 175);
    border-radius: 50px;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.5s ease-in-out;
    z-index: 4;
}
.gototop.active a{
    opacity: 1;
    transform: translateY(0px);
} 
.gototop:hover a{
    background-color: rgba(45, 45, 45, 0.9);
}

@media only screen and (max-width: 1184px) {
    .menu-btn, .menu-btn_burger{
        display: flex;
    }
    .nav .logo{   
        margin-left: 5vw;
    }
    .navitems{
        display: none;
    }
}

@media only screen and (max-width: 709px) {
    .contact_tab{
        display: none;
    }
    .nav{
        top: 0px;
    }
    .nav .logo{    
        transform: scale(0.8);
    }
    .phone_mob{
        display: flex;
    }
    .mail_mob{
        display: flex;
    }
}

@media only screen and (max-width: 500px) {
    
    .nav .logo{    
        margin-left: 2vw;
        height: 60px; 
        width: 230px;
    }
    .sidebar{
        width: 300px;
    }
    .sidebar .list .listele{
        padding: 15px;
        font-size: 14px;
    }
    .sidebar .list .listele:first-child{
        font-size: 16px;
    }
    .whtsapp a{
        height: 40px;
        width: 40px;
        font-size: 22px;
        bottom: 80px;
        right: 3vw;
    }
    .menu-btn{
        width: 40px;
        height: 50px;
    }
    .menu-btn_burger,
    .menu-btn_burger::before,
    .menu-btn_burger::after {
        width: 25px;
        height: 3px;
    }
    .menu-btn_burger::before {
        transform: translateY(-8px);
    }
    .menu-btn_burger::after {
        transform: translateY(8px);
    }
}
@media only screen and (max-width: 340px) {
    
    .nav .logo{    
        margin-left: 0px;
        height: 50px; 
        width: 200px;
    }
    .sidebar .list .listele{
        padding: 10px;
    }
}

.modal .modal-body{
    position: relative;
    
}
.modal .modal-body .thankyou{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    color: white;
    z-index: -1;
    opacity: 0;
    font-size: 24px;
    text-align: center;

    background-image: url(../images/contact.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: 0.5s ease-in-out;
}
.modal .modal-body .thankyou.active{
    z-index: 1;
    opacity: 1;
}
.modal .modal-body .error{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    background-color: #ffffff;
    z-index: -1;
    opacity: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;

    transition: 0.5s ease-in-out;
}
.modal .modal-body .error .img{
    height: 60%;
    width: 80%;
    background-image: url(../images/fail.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.modal .modal-body .error.active{
    z-index: 1;
    opacity: 1;
}
.form_cont{
    display: grid;
    grid-template: 0.5fr 0.5fr 0.5fr / 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-row-gap: 20px;
    padding-top: 20px;
}
.form_cont .phone{
    display: flex;
    width: 80%;
    grid-column: 1 / 3;
}
.form_cont .phone .form:first-child{
    width: 50%;
    margin-right: 30px;
}
.form_cont .option{
    margin-top: 20px;
    width: 80%;
    height: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.form_cont .option.active{
    height: 100%;
    opacity: 1;
    transform: translateY(0px);
}
.form_cont .option label{
    color: black;
    font-weight: 500;
}
.form{
    width: 90%;
    position: relative;
    height: 70px;
    overflow: hidden;
    font-size: 20px;
    color: black;
}
.form input{
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0);
}
.form label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid #087dc0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 18px;
    color: #087dc0;

}

.form input:focus + .label-name::after, 
.form input:valid + .label-name::after{
    transform: translateX(0%);
}

.form_cont .notes .heading{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
}
.submit_cont:focus{
    outline: 0;
}
.submit_cont{
    outline: 0;
    width: fit-content;
    padding: 5px 30px;
    background-color: rgb(0, 138, 218);
    color: white;
    border-radius: 50px; 
    font-size: 18px;
    transition: 0.5s ease-in-out;
    border: 0px solid transparent;
}
.submit_cont:hover{
    transform: scale(1.02);
    background-color: #00ff6a;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 10px;
}

@media only screen and (max-width:550px){

    .form_cont{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .form_cont .option{
        width: 90%;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .form{
        font-size: 18px;
    }
    .form input:focus + .label-name .content-name,
    .form input:valid + .label-name .content-name {
        font-size: 16px;
    }
    .form_cont .notes .heading{
        font-size: 18px;
    }
    .form_cont textarea{
        font-size: 16px;
    }
    .form_cont .phone{
        display:block;
        width: 100%;
        grid-column: 1 / 3;
    }
    .form_cont .phone .form:first-child{
        width: 60%;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    ::-webkit-scrollbar {
        width: 5px;
    }
}

.cont1{
    padding-top: 100px;
    padding-bottom: 60px;
}
.cont1 .heading{
    margin-bottom: 30px;
    width: fit-content;
    overflow: hidden;
}
.cont1 .heading .line{
    width: 60%;
    height: 2px;
    background-color: #001c68;
    transform: translateX(-10%);
    animation: line 2s ease-in-out infinite forwards;
}
@keyframes line {

    0%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10%);
    }
}
.cont1 .content_cont .content{
    text-align: justify;
}
.cont1 .content_cont .content .listele{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}
.cont1 .content_cont .content .listele i{
    margin-top: 6px;
    margin-right: 5px;
    color: hsl(219, 100%, 30%);;
}
.cont1 .content_cont .btn_cont{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.cont1 .content_cont .btn_cont .apply_btn{
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: hsl(219, 77%, 47%);
    padding: 10px 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.cont1 .content_cont .btn_cont .apply_btn:hover{
    background-color: hsl(219, 100%, 40%);
    transform: translateY(-10px);
    box-shadow: rgba(0, 54, 153, 1) 0px 25px 20px -20px;
}
.cont1 .spec{
    position: sticky;
    top: 110px;
}
.cont1 .spec .list{
    margin: 20px 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: hsl(219, 77%, 47%);
    color: white;
    transition: 0.5s ease-in-out;
    cursor: default;
    font-size: 17px;
}
.cont1 .spec .list:hover{
    transform: scale(1.025);
    background-color: hsl(219, 100%, 40%);
    box-shadow: rgba(0, 54, 153, 0.4) 0px 10px 15px, rgba(0, 54, 153, 0.3) 0px 5px 8px;
}
.cont1 .spec .list i{
    margin-right: 10px;
}