.modal .modal-body{
    position: relative;
    
}
.modal .modal-body .thankyou{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    color: white;
    z-index: -1;
    opacity: 0;
    font-size: 24px;
    text-align: center;

    background-image: url(../images/contact.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: 0.5s ease-in-out;
}
.modal .modal-body .thankyou.active{
    z-index: 1;
    opacity: 1;
}
.modal .modal-body .error{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    background-color: #ffffff;
    z-index: -1;
    opacity: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;

    transition: 0.5s ease-in-out;
}
.modal .modal-body .error .img{
    height: 60%;
    width: 80%;
    background-image: url(../images/fail.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.modal .modal-body .error.active{
    z-index: 1;
    opacity: 1;
}
.form_cont{
    display: grid;
    grid-template: 0.5fr 0.5fr 0.5fr / 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-row-gap: 20px;
    padding-top: 20px;
}
.form_cont .phone{
    display: flex;
    width: 80%;
    grid-column: 1 / 3;
}
.form_cont .phone .form:first-child{
    width: 50%;
    margin-right: 30px;
}
.form_cont .option{
    margin-top: 20px;
    width: 80%;
    height: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.form_cont .option.active{
    height: 100%;
    opacity: 1;
    transform: translateY(0px);
}
.form_cont .option label{
    color: black;
    font-weight: 500;
}
.form{
    width: 90%;
    position: relative;
    height: 70px;
    overflow: hidden;
    font-size: 20px;
    color: black;
}
.form input{
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0);
}
.form label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid #087dc0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 18px;
    color: #087dc0;

}

.form input:focus + .label-name::after, 
.form input:valid + .label-name::after{
    transform: translateX(0%);
}

.form_cont .notes .heading{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
}
.submit_cont:focus{
    outline: 0;
}
.submit_cont{
    outline: 0;
    width: fit-content;
    padding: 5px 30px;
    background-color: rgb(0, 138, 218);
    color: white;
    border-radius: 50px; 
    font-size: 18px;
    transition: 0.5s ease-in-out;
    border: 0px solid transparent;
}
.submit_cont:hover{
    transform: scale(1.02);
    background-color: #00ff6a;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 10px;
}

@media only screen and (max-width:550px){

    .form_cont{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .form_cont .option{
        width: 90%;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .form{
        font-size: 18px;
    }
    .form input:focus + .label-name .content-name,
    .form input:valid + .label-name .content-name {
        font-size: 16px;
    }
    .form_cont .notes .heading{
        font-size: 18px;
    }
    .form_cont textarea{
        font-size: 16px;
    }
    .form_cont .phone{
        display:block;
        width: 100%;
        grid-column: 1 / 3;
    }
    .form_cont .phone .form:first-child{
        width: 60%;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    ::-webkit-scrollbar {
        width: 5px;
    }
}

.cont1{
    padding-top: 100px;
    padding-bottom: 60px;
}
.cont1 .heading{
    margin-bottom: 30px;
    width: fit-content;
    overflow: hidden;
}
.cont1 .heading .line{
    width: 60%;
    height: 2px;
    background-color: #001c68;
    transform: translateX(-10%);
    animation: line 2s ease-in-out infinite forwards;
}
@keyframes line {

    0%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10%);
    }
}
.cont1 .content_cont .content{
    text-align: justify;
}
.cont1 .content_cont .content .listele{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}
.cont1 .content_cont .content .listele i{
    margin-top: 6px;
    margin-right: 5px;
    color: hsl(219, 100%, 30%);
}
.cont1 .content_cont .content .listele .email{
    position: relative;
    background: #2C3E50;
    background: -webkit-linear-gradient(left, #FF0000, green, #4169E1, #Ff0490, #bf00ff, #551a8b);
    background: linear-gradient(left, #FF0000, green, #4169E1, #Ff0490, #bf00ff, #551a8b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 1000%;
    animation: color 15s ease-in-out infinite alternate;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    width: fit-content;
    padding-bottom: 4px;
    overflow: hidden!important;
    padding-bottom: 4px;
}
.cont1 .content_cont .content .listele .email .line{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 2px;
    background: -webkit-linear-gradient(45deg, #FF0000, green, #4169E1, #Ff0490, #bf00ff, #551a8b);
    background: linear-gradient(45deg, #FF0000, green, #4169E1, #Ff0490, #bf00ff, #551a8b);
    background-size: 1000%;
    width: 0;
    transition: 0.5s ease-in-out;
    animation: color 15s ease-in-out infinite alternate;
}
.cont1 .content_cont .content .listele .email:hover .line{
    width: 100%;
}
@keyframes color {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
.cont1 .content_cont .btn_cont{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.cont1 .content_cont .btn_cont .apply_btn{
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: hsl(219, 77%, 47%);
    padding: 10px 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.cont1 .content_cont .btn_cont .apply_btn:hover{
    background-color: hsl(219, 100%, 40%);
    transform: translateY(-10px);
    box-shadow: rgba(0, 54, 153, 1) 0px 25px 20px -20px;
}
.cont1 .spec{
    position: sticky;
    top: 110px;
}
.cont1 .spec .list{
    margin: 20px 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: hsl(219, 77%, 47%);
    color: white;
    transition: 0.5s ease-in-out;
    cursor: default;
    font-size: 17px;
}
.cont1 .spec .list:hover{
    transform: scale(1.025);
    background-color: hsl(219, 100%, 40%);
    box-shadow: rgba(0, 54, 153, 0.4) 0px 10px 15px, rgba(0, 54, 153, 0.3) 0px 5px 8px;
}
.cont1 .spec .list i{
    margin-right: 10px;
}