
.cont-head{
    padding: 70px 5vw 0px 5vw;
}
.cont-head .big{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.cont-head .small{
    font-size: 20px;
    text-align: center;
}
.contact_cont{
    padding: 20px 5vw 50px 5vw;
    max-width: 1800px;
}
.contact_cont .section1{
    position: relative;
}
.contact_cont .section1 .thankyou{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    color: white;
    z-index: -1;
    opacity: 0;
    font-size: 24px;
    text-align: center;

    background-image: url(../images/contact.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: 0.5s ease-in-out;
}
.contact_cont .section1 .thankyou.active{
    z-index: 1;
    opacity: 1;
}
.contact_cont .section1 .error{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    background-color: #ffffff;
    z-index: -1;
    opacity: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;

    transition: 0.5s ease-in-out;
}
.contact_cont .section1 .error .img{
    height: 60%;
    width: 80%;
    background-image: url(../images/fail.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.contact_cont .section1 .error.active{
    z-index: 1;
    opacity: 1;
}
.form_cont{
    display: grid;
    grid-template: 0.5fr 0.5fr 0.5fr / 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    grid-row-gap: 10px;
}
.form_cont .phone{
    display: flex;
    width: 80%;
    grid-column: 1 / 3;
}
.form_cont .phone .form:first-child{
    width: 50%;
    margin-right: 30px;
}
.form_cont .notes{
    grid-column: 1 / 3;
}
.form{
    width: 90%;
    position: relative;
    height: 70px;
    overflow: hidden;
    color: black;
}
.form input{
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0);
}
.form label{
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid #087dc0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
    transform: translateY(-120%);
    font-size: 19px;
    color: #087dc0;

}

.form input:focus + .label-name::after, 
.form input:valid + .label-name::after{
    transform: translateX(0%);
}

.form_cont .notes .heading{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
}

.form_cont textarea{
    width: 95%;
    height: 125px;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    transition: 0.5s ease-in-out;
}
.form_cont textarea:hover{
    border: 1px solid #087dc0;
}
.contact_cont .submit{
    grid-column: 1 / span 2;
    width: fit-content;
    justify-self: center;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: rgb(0, 138, 218);
    color: white;
    border-radius: 50px; 
    font-size: 18px;
    transition: 0.5s ease-in-out;
    border: 0px;
}
.contact_cont .submit:hover{
    text-decoration: none;
    background-color: rgb(0, 185, 62);
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(78, 78, 78, 0.4);
}
.contact_cont .section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 2px solid rgb(163, 163, 163);
    padding-left: 40px;
    padding-bottom: 40px;
}

.contact_cont .section2 .heading .big{
    font-size: 32px;
    font-weight: 600;
}
.contact_cont .section2 .contact_us .reach{
    font-size: 17px;
    margin-top: 25px;
    cursor: pointer;
    display: flex;

}
.contact_cont .section2 .contact_us .reach.user{
    font-size: 20px;
    font-weight: 500;
}

.contact_cont .section2 .contact_us i{
    margin-right: 10px;
    font-size: 22px;
}
.phn_modal .modal-header{
    border: none;
    background-color: transparent !important;
}
.phn_modal .modal-content{
    margin-top: 100px;
}
.phn_modal .modal-body{
    position: relative;
    padding: 0;
    padding-top: 10px;
}
.phn_modal .modal-body .phn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    overflow: hidden;
}
.phn_modal .modal-body .phn .line{
    height: 2px;
    width: 100%;
    background-color: #087dc0;
    margin-top: 10px;
    transform: translateX(-120%);
    transition: 1s ease-in-out;
}
.phn_modal .modal-body .phn:hover .line{
    transform: translateX(0%);
}
.phn_modal .modal-body .phn span{
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
}
.phn_modal .modal-body .close_{
    position: absolute;
    right: 0;
    top: 0;
    outline: none;
    transform: translateY(-30px);
    font-size: 20px;
    color: white;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialcontainer{
    padding-top: 30px;
    width: fit-content;
}

.social-icons a {
    display: inline-block;
    width: 45px;
    height: 45px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.social-icons a .fab, 
.social-icons a .far, 
.social-icons a .fas{
    line-height: 45px;
}
.social-icons .mob{
    color: black;
    animation-name: mob;
    animation-direction: normal;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}
@keyframes mob{
    0%{
        color: black;
        background-color: transparent;
        transform: translateY(0px) scale(1);
    }
    10%{
        background: black;
        color: white;
        transform: translateY(-10px) scale(1.1);
    }
    20%{
        color: black;
        background-color: transparent;
        transform: translateY(0px) scale(1);
    }
}
.social-icons .mob:hover{
    background: black;
    color: white;
    transform: translateY(-10px) scale(1.1);
}
.social-icons .loc{
    color: #4267B2;
    transition-timing-function: none;
    animation-name: loc;
    animation-direction: normal;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}
@keyframes loc{
    20%{
        color: #4267B2;
        background-color: transparent;
        transform: translateY(0px) scale(1);
    }
    30%{
        background-color: #4267B2;
        color: white;
        transform: translateY(-10px) scale(1.1);
    }
    40%{
        color: #4267B2;
        background-color: transparent;
        transform: translateY(0px) scale(1);
    }
}
.social-icons .loc:hover{
    background: #4267B2;
    color: white;
    transform: translateY(-10px) scale(1.1);
}
.social-icons .mail{
    color: #c71610;
    animation-name: mail;
    animation-direction: normal;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}
@keyframes mail{
    40%{
        color: #c71610;
        background-color: transparent;
        transform: translateY(0px) scale(1);
    }
    50%{
        background-color: #c71610;
        transform: translateY(-10px) scale(1.1);
        color: white;
    }
    60%{
        color: #c71610;
        background-color: transparent;
        transform: translateY(0px) scale(1);
    }
}
.social-icons .mail:hover {
    background: #c71610;
    color: white;
    transform: translateY(-10px) scale(1.1);
}
.social-icons .yt{
    color: #FF0000;
    animation-name: yt;
    animation-direction: normal;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}
@keyframes yt{
    60%{
        color: 	#FF0000;
        background-color: transparent;
        transform: translateY(0px) scale(1);
    }
    70%{
        background-color: #FF0000;
        transform: translateY(-10px) scale(1.1);
        color: white;
    }
    80%{
        color: #FF0000;
        background-color: transparent;
        transform: translateY(0px) scale(1);
    }
}
.social-icons .yt:hover {
    background: #FF0000;
    color: white;
    transform: translateY(-10px) scale(1.1);
}
.social-icons .link{
    color: #060057;
    animation-name: link;
    animation-direction: normal;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}
@keyframes link{
    80%{
        transform: translateY(0px) scale(1);
        color: #060057;
        background-color: transparent;
    }
    90%{
        transform: translateY(-10px) scale(1.1);
        background-color: #060057;
        color: white;
    }
    100%{
        color: #060057;
        background-color: transparent;
        transform: translateY(0px) scale(1);
    }
}
.social-icons .link:hover {
    background: #060057;
    color: white;
    transform: translateY(-10px) scale(1.1);
}
.socialcontainer:hover .social-icons .mob,
.socialcontainer:hover .social-icons .loc,
.socialcontainer:hover .social-icons .mail,
.socialcontainer:hover .social-icons .yt,
.socialcontainer:hover .social-icons .link{
    animation-name: none;
}

@media only screen and (max-width:1075px){

    .contact_cont .section1 .heading .big{
        font-size: 28px;
    }
    .contact_cont .section2 .heading .big{
        font-size: 24px;
        font-weight: 600;
    }
}

@media only screen and (max-width:1075px){

    .contact_cont .section2{
        border-left: none;
        padding-left: 20px;
    }
    .contact_cont .section2 .section2_cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width:550px){

    .cont-head .big{
        font-size: 24px;
    }
    .cont-head .small{
        font-size: 16px;
    }
    .form_cont{
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .form_cont .option{
        width: 90%;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .form{
        font-size: 18px;
    }
    .form input:focus + .label-name .content-name,
    .form input:valid + .label-name .content-name {
        font-size: 16px;
    }
    .form_cont .notes .heading{
        font-size: 18px;
    }
    .form_cont .option{
        display: none;
    }
    .form_cont .submit{
        align-self: center;
    }
    .form_cont textarea{
        font-size: 16px;
    }
    .contact_cont .submit_cont .submit{
        font-size: 18px;
    }
    .contact_cont .section1 .heading .big{
        font-size: 24px;
    }
    .contact_cont .section2 .heading .big{
        font-size: 18px;
        margin-top: 40px;
    }
    .contact_cont .section2 .contact_us .reach{
        font-size: 16px;
    }
    .contact_cont .section2 .contact_us i{
        font-size: 18px;
    }
    
    .form_cont .phone{
        display:block;
        width: 100%;
        grid-column: 1 / 3;
    }
    .form_cont .phone .form:first-child{
        width: 60%;
        margin-right: 0px;
        margin-bottom: 10px;
    }
}