.cont1{
    height: 250px;

    background-image: url(../images/events/cont1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cont1 .head{
    height: inherit;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

.cont2{
    padding: 0px 5vw;
    background-color: rgb(209, 242, 255);
    overflow: hidden;
}
.cont2 .field{
    max-width: 1250px;
    position: relative;
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s ease-in-out;
}
.cont2 .field:hover{
    transform: scale(1.01)!important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.cont2 .field:last-child{
    margin-bottom: 80px;
}
.cont2 .norm .t{
    position: absolute;
    top: -10px;
    left: -10px;
    height: 50px;
    width: 50px;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}
.cont2 .norm .b{
    position: absolute;
    bottom: -10px;
    right: -10px;
    height: 50px;
    width: 50px;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
.cont2 .revr .t{
    position: absolute;
    top: -10px;
    right: -10px;
    height: 50px;
    width: 50px;
    clip-path: polygon(100% 100%, 0 0, 100% 0);

}
.cont2 .revr .b{
    position: absolute;
    bottom: -10px;
    left: -10px;
    height: 50px;
    width: 50px;
    clip-path: polygon(100% 100%, 0 0, 0 100%);
}
.cont2 .image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont2 .image .background{
    background-color: black;
    height: 300px;
    width: 100%;
}
.cont2 .image .background .img{
    position: relative;
    top: 20px;
    left: 20px;
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cont2 .d-flex .image .background .img{
    position: relative;
    top: -20px;
    left: -20px;
    height: inherit;
}
.cont2 .image .background .img .carousel,
.cont2 .image .background .img .carousel .carousel-inner,
.cont2 .image .background .img .carousel .carousel-inner .carousel-item,
.cont2 .image .background .img .carousel .carousel-inner .carousel-item img{
    height: inherit;
    position: relative;
}
.cont2 .image .background .img img{
    object-fit: cover;
}
.cont2 .image .background .img .carousel .prev_arrow,
.cont2 .image .background .img .carousel .next_arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 50px;
    transform: translateX(20px);
    opacity: 0;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.cont2 .image .background .img .carousel:hover .prev_arrow,
.cont2 .image .background .img .carousel:hover .next_arrow{
    transform: translateX(0px);
    opacity: 1;
}
.cont2 .image .background .img .carousel .next_arrow{
    right: 0;
    transform: translateX(-20px);
}
.cont2 .image .bg1 .prev_arrow,
.cont2 .image .bg1 .next_arrow{
    color: #ff6111;
}
.cont2 .image .bg1,
.cont2 .field .t1,
.cont2 .field .b1{
    background-color: #ff6111;
}
.cont2 .image .bg2 .prev_arrow,
.cont2 .image .bg2 .next_arrow{
    color: #f53163;
}
.cont2 .image .bg2,
.cont2 .field .t2,
.cont2 .field .b2{
    background-color: #f53163;
}
.cont2 .image .bg3 .prev_arrow,
.cont2 .image .bg3 .next_arrow{
    color: #be03fd;
}
.cont2 .image .bg3,
.cont2 .field .t3,
.cont2 .field .b3{
    background-color: #be03fd;
}
.cont2 .image .bg4 .prev_arrow,
.cont2 .image .bg4 .next_arrow{
    color: #00ff00;
}
.cont2 .image .bg4,
.cont2 .field .t4,
.cont2 .field .b4{
    background-color: #00ff00;
}
.cont2 .content{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.cont2 > .d-flex .content{
    padding-left: 0;
    padding-right: 30px;
}
.cont2 .content .heading{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.cont2 .content .detail{
    font-size: 16px;
    text-align: justify;
}

@media only screen and (max-width:1025px){
    
    .cont2 .image .background .img .carousel .prev_arrow,
    .cont2 .image .background .img .carousel .next_arrow{
        transform: translateX(0px);
        opacity: 1;
    }
}

@media only screen and (max-width:992px){
    
    .cont2 .field{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .cont1 .head{
        font-size: 34px;
    }
    .cont2 .image .background .img .carousel .prev_arrow,
    .cont2 .image .background .img .carousel .next_arrow{
        transform: translateX(0px);
        opacity: 1;
    }
}

@media only screen and (max-width:767px){
    
    .cont1 .head{
        font-size: 28px;
    }
    .cont2 .content{
        padding-top: 50px;
        padding-left: 0px;
    }
    .cont2 > .d-flex .content{
        padding-right: 0px;
        padding-top: 50px;
    }
    .cont2 .content .heading{
        font-size: 20px;
    }
    .cont2 .content .detail{
        font-size: 16px;
    }
}
@media only screen and (max-width:450px){
    
    .cont1 .head{
        font-size: 24px;
    }
    .cont2{
        padding: 0px 5vw;
    }
    .cont2 .field{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .cont2 .image .background{
        height: 200px;
        width: 100%;
    }
    .cont2 .image .background .img{
        top: 10px;
        left: 10px;
    }
    .cont2 .d-flex .image .background .img{
        top: -10px;
        left: -10px;
    }
    .cont2 .content{
        padding-top: 40px;
        padding-left: 0px;
    }
    .cont2 .d-flex .content{
        padding-right: 0px;
        padding-top: 20px;
    }
    .cont2 .content .heading{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .cont2 .content .detail{
        font-size: 14px;
        text-align: justify;
    }   
}